Repository jayanthkoushik/shplot-old: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, mypy, test, docs, cspell, nbstrip

format:
  name: Format Python files
  language: system
  entry: poetry run ruff format

lint:
  name: Lint Python files
  language: system
  entry: poetry run ruff check
  pass_filenames: false

mypy:
  name: Type check Python files
  entry: poetry run mypy .
  language: system
  pass_filenames: false

test:
  name: Run unit tests
  language: system
  entry: poetry run python -m unittest
  pass_filenames: false

docs:
  name: Build docs with Sphinx
  entry: poetry run docs/make.sh
  language: system
  pass_filenames: false

cspell:
  name: Spell check docs
  language: system
  entry: npx cspell

nbstrip:
  name: Remove metadata from notebooks
  entry: poetry run jupyter nbconvert --inplace --ClearMetadataPreprocessor.enabled=True
  language: system

feat: try w/o
  .github/workflows/update-pre-commit-hooks.yml
Due: none

fix: perms
  .github/workflows/update-pre-commit-hooks.yml
  .pre-commit-config.yaml
Due: none

fix: boo
  .github/workflows/update-pre-commit-hooks.yml
Due: none

fix: maybe
  .github/workflows/update-pre-commit-hooks.yml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: try again w/o
  .github/workflows/release-new-version.yml
  .github/workflows/run-tests.yml
  .github/workflows/update-pre-commit-hooks.yml
Due: none

fix: um no
  .github/workflows/release-new-version.yml
Due: none

chore(release): 2.1.0-1
  CHANGELOG.md
Due: none

Deployed 03e8ca3 to 2.1 with MkDocs 1.5.3 and mike 2.1.0.dev0
  2.1/CHANGELOG/index.html
  2.1/search/search_index.json
  2.1/sitemap.xml.gz
Due: none

feat: prs
  .github/workflows/check-pr.yml
Due: none

refactor: remove pylint comments
  src/shplot/__init__.py
  src/shplot/_shplot.py
  src/shplot/profiles/__init__.py
Due: format, lint, mypy, test, docs

feat: do pcs
  .github/workflows/check-pr.yml
Due: none

feat: get commits
  .github/workflows/check-pr.yml
Due: none

feat: no
  docs/shplot.profiles.builtin.md
  src/shplot/profiles/builtin.py
Due: format, lint, mypy, test, docs, cspell

feat: yes
  docs/shplot.md
  src/shplot/_shplot.py
Due: format, lint, mypy, test, docs, cspell

feat: stuff
  .github/workflows/check-pr.yml
Due: none

feat: maybe
  docs/shplot.md
  src/shplot/_shplot.py
Due: format, lint, mypy, test, docs, cspell

fix: quotes
  .github/workflows/check-pr.yml
Due: none

fix: yo
  docs/shplot.profiles.builtin.md
  src/shplot/profiles/builtin.py
Due: format, lint, mypy, test, docs, cspell

feat: verify commits
  .commitlintrc.yaml
  .github/workflows/check-pr.yml
  .pre-commit-config.yaml
  scripts/verify_pr_commits.py
Due: format, lint, mypy, test

fix: oh
  docs/shplot.md
  src/shplot/_shplot.py
Due: format, lint, mypy, test, docs, cspell

fix: print errs
  .github/workflows/check-pr.yml
  scripts/verify_pr_commits.py
Due: format, lint, mypy, test

fix: wo
  docs/shplot.profiles.builtin.md
  src/shplot/profiles/builtin.py
Due: format, lint, mypy, test, docs, cspell

fix: set token
  .github/workflows/check-pr.yml
Due: none

feat: circle
  docs/shplot.md
  src/shplot/_shplot.py
Due: format, lint, mypy, test, docs, cspell

fix: damnit
  scripts/verify_pr_commits.py
Due: format, lint, mypy, test

fix: triangle
  docs/shplot.profiles.md
  src/shplot/profiles/_interface.py
Due: format, lint, mypy, test, docs, cspell

feat: commitlint rules
  .commitlintrc.yaml
Due: none

chore(release): 2.1.0
  CHANGELOG.md
Due: none

Deployed c698885 to 2.1 with MkDocs 1.5.3 and mike 2.1.0.dev0
  2.1/CHANGELOG/index.html
  2.1/search/search_index.json
  2.1/sitemap.xml
  2.1/sitemap.xml.gz
  2.1/usage/shplot/index.html
  2.1/usage/shplot/profiles/builtin/index.html
  2.1/usage/shplot/profiles/index.html
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  mypy: any of: \.py$
  test: any of: \.py$
  docs: any of: src/.*\.py|docs/make\.sh
  cspell: any of: docs/.*\.md
  nbstrip: any of: \.ipynb$
